<!--
##########################################################################
*
*   Copyright © 2019-2021 Akashdeep Dhar <t0xic0der@fedoraproject.org>
*
*   This program is free software: you can redistribute it and/or modify
*   it under the terms of the GNU General Public License as published by
*   the Free Software Foundation, either version 3 of the License, or
*   (at your option) any later version.
*
*   This program is distributed in the hope that it will be useful,
*   but WITHOUT ANY WARRANTY; without even the implied warranty of
*   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*   GNU General Public License for more details.
*
*   You should have received a copy of the GNU General Public License
*   along with this program.  If not, see <https://www.gnu.org/licenses/>.
*
##########################################################################
-->

{% extends "frameset.html" %}
{% block onldscpt %}
    container_list_operations();
{% endblock %}
{% block sidebrel %}
    <li class="nav-item"><a href="/dashbord/" class="nav-link"><i class="nav-icon fas fa-th"></i><p>Dashboard</p></a></li>
    <li class="nav-item"><a href="" class="nav-link"><i class="nav-icon fas fa-microchip"></i><p>System</p></a></li>
    <li class="nav-item"><a href="/dockstat/" class="nav-link"><i class="nav-icon fas fa-anchor"></i><p>Station</p></a></li>
    <li class="nav-item"><a href="#" class="nav-link active"><i class="nav-icon fas fa-box-open"></i><p>Containers</p></a></li>
    <li class="nav-item"><a href="/imejlist/" class="nav-link"><i class="nav-icon fas fa-sd-card"></i><p>Images</p></a></li>
    <li class="nav-item"><a href="" class="nav-link"><i class="nav-icon fas fa-database"></i><p>Volumes</p></a></li>
    <li class="nav-item"><a href="" class="nav-link"><i class="nav-icon fas fa-network-wired"></i><p>Networks</p></a></li>
{% endblock %}
{% block headelem %}
    <h1 class="m-0 text-dark condqant">Containers</h1>
{% endblock %}
{% block bdcumbls %}
    <li class="breadcrumb-item active">Containers</li>
{% endblock %}
{% block contwrap %}
    <div class="row" id="contlist"></div>
    <p><span id="contnumb">0</span> container(s) found.</p>
{% endblock %}
{% block pagejsas %}
    <script src="{{ url_for("static", filename="jscn/contlist.js") }}"></script>
{% endblock %}
