<!--
##########################################################################
*
*   Copyright © 2019-2021 Akashdeep Dhar <t0xic0der@fedoraproject.org>
*
*   This program is free software: you can redistribute it and/or modify
*   it under the terms of the GNU General Public License as published by
*   the Free Software Foundation, either version 3 of the License, or
*   (at your option) any later version.
*
*   This program is distributed in the hope that it will be useful,
*   but WITHOUT ANY WARRANTY; without even the implied warranty of
*   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*   GNU General Public License for more details.
*
*   You should have received a copy of the GNU General Public License
*   along with this program.  If not, see <https://www.gnu.org/licenses/>.
*
##########################################################################
-->

{% extends "frameset.html" %}
{% block onldscpt %}
    container_list_operations();
{% endblock %}
{% block headelem %}
    <h1 class="m-0 condqant">Containers</h1>
{% endblock %}
{% block bdcumbls %}
    <li class="breadcrumb-item active">Containers</li>
{% endblock %}
{% block contwrap %}
    <div class="row" id="contlist"></div>
    <p class="mt-3"><span id="contnumb">0</span> container(s) found.</p>
{% endblock %}
{% block extramod %}
    <div class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" id="attcmode">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header pt-1 pb-1 pl-2 pr-2 bg-olive">
                    <h3 class="modal-title condqant font-weight-bold">Console attachment</h3>
                </div>
                <div class="modal-body pt-1 pb-1 pl-2 pr-2">
                    <p class="text-justify mt-0 mb-0">
                        This would now allow you to attach a webconsole to the container and let you execute a command
                        of your choice. All you need to do is enter the command below to get started with it.
                    </p>
                    <div class="input-group mt-2 mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fas fa-box-open"></span>
                            </div>
                        </div>
                        <input type="text" class="form-control form-control-sm" placeholder="Container identity" name="idenattc" id="idenattc" disabled>
                    </div>
                    <div class="input-group mt-2 mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fas fa-terminal"></span>
                            </div>
                        </div>
                        <input type="text" class="form-control form-control-sm" placeholder="Console command" name="comdattc" id="comdattc">
                    </div>
                </div>
                <div class="modal-footer justify-content-between pt-1 pb-1 pl-2 pr-2 bg-olive">
                    <button type="button" class="btn btn-sm {% if darkmode == 1 %} btn-dark {% else %} {% if darkmode == 1 %} btn-dark {% else %} btn-light {% endif %} {% endif %}" data-dismiss="modal">Close</button>
                    <div class="float-right">
                        <button type="button" class="btn btn-sm {% if darkmode == 1 %} btn-dark {% else %} {% if darkmode == 1 %} btn-dark {% else %} btn-light {% endif %} {% endif %}" onclick="initiate_container_attachment();" data-dismiss="modal">Start</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block pagejsas %}
    <script src="{{ url_for("static", filename="jscn/contlist.js") }}"></script>
{% endblock %}
