<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SuperVisor {{ frntvers }}</title>
        <link rel="stylesheet" href="{{ url_for("static", filename="css3/custfrmt.css") }}">
        <link rel="stylesheet" href="{{ url_for("static", filename="css3/fontsome.css") }}">
        <link rel="stylesheet" href="{{ url_for("static", filename="css3/adminlte.css") }}">
        <link rel="shortcut icon" href="{{ url_for("static", filename="imgs/mainicon.svg") }}">
    </head>
    <style>
        * {
            font-family: "IBM Plex Sans";
        }
        .nogetout {
            /* These are technically the same, but use both */
            overflow-wrap: break-word;
            word-wrap: break-word;
            -ms-word-break: break-all;
            /* This is the dangerous one in WebKit, as it breaks things wherever */
            word-break: break-all;
            /* Instead use this non-standard one: */
            word-break: break-word;
            /* Adds a hyphen where the word breaks, if supported (No Blink) */
            -ms-hyphens: none;
            -moz-hyphens: none;
            -webkit-hyphens: none;
            hyphens: auto;
        }
        .ellipsis {
            white-space: nowrap;
            overflow: hidden;
            display: block;
            text-overflow: ellipsis;
        }
        .lite-svgs {
            filter: invert(0%) sepia(100%) saturate(7500%) hue-rotate(272deg) brightness(108%) contrast(114%);
        }
        .dark-svgs {
            filter: invert(96%) sepia(97%) saturate(12%) hue-rotate(237deg) brightness(103%) contrast(103%);
        }
    </style>
    <body class="hold-transition sidebar-mini {% if darkmode == 1 %} dark-mode {% else %} light-mode {% endif %} text-sm" onload="{% block onldscpt %}{% endblock %}" style="">
        <div class="wrapper">
            <nav class="main-header navbar navbar-expand {% if darkmode == 1 %} navbar-dark {% else %} navbar-light {% endif %} elevation-1">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" role="button"><i class="fas fa-bars"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="window.history.back();" role="button"><i class="fas fa-arrow-left"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="show_theming_modal();" role="button"><i class="fas fa-palette"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="location.reload();" role="button"><i class="fas fa-sync"></i></a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" onclick="$('#logoutmd').modal('show');" role="button"><i class="fas fa-power-off"></i></a>
                    </li>
                </ul>
            </nav>
            <aside class="main-sidebar {% if darkmode == 1 %} sidebar-dark-olive {% else %} sidebar-light-olive {% endif %} elevation-1">
                <a class="brand-link {% if darkmode == 1 %} navbar-dark {% else %} navbar-light {% endif %} elevation-1">
                    <img src="{{ url_for("static", filename="imgs/mainicon.svg") }}" class="brand-image {% if darkmode == 1 %} dark-svgs {% else %} lite-svgs {% endif %}" style="opacity: .8">
                    <span class="brand-text font-weight-heavy">
                        SuperVisor
                    </span>
                </a>
                <div class="sidebar">
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <li class="nav-item">
                                <a onclick="document.location.href={% if request.path[0:10] == '/dashbord/' %} '#' {% else %} '/dashbord/' {% endif %};" class="nav-link {% if request.path[0:10] == '/dashbord/' %} active {% endif %}" type="button">
                                    <i class="nav-icon fas fa-th"></i><p>Dashboard</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a onclick="document.location.href={% if request.path[0:10] in ['/systdata/','/proclist/'] %} '#' {% else %} '/systdata/' {% endif %};" class="nav-link {% if request.path[0:10] in ['/systdata/','/proclist/'] %} active {% endif %}" type="button">
                                    <i class="nav-icon fas fa-microchip"></i><p>System</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a onclick="document.location.href={% if request.path[0:10] == '/dockstat/' %} '#' {% else %} '/dockstat/' {% endif %};" class="nav-link {% if request.path[0:10] == '/dockstat/' %} active {% endif %}" type="button">
                                    <i class="nav-icon fas fa-anchor"></i><p>Station</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a onclick="document.location.href={% if request.path[0:10] in ['/contlist/','/contdata/','/contstat/','/contlogs/','/conthtop/'] %} '#' {% else %} '/contlist/' {% endif %};" class="nav-link {% if request.path[0:10] in ['/contlist/','/contdata/','/contstat/','/contlogs/','/conthtop/'] %} active {% endif %}" type="button">
                                    <i class="nav-icon fas fa-box-open"></i><p>Containers</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a onclick="document.location.href={% if request.path[0:10] in ['/imejlist/','/imejdata/','/imejrevs/'] %} '#' {% else %} '/imejlist/' {% endif %};" class="nav-link {% if request.path[0:10] in ['/imejlist/','/imejdata/','/imejrevs/'] %} active {% endif %}" type="button">
                                    <i class="nav-icon fas fa-sd-card"></i><p>Images</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a onclick="document.location.href={% if request.path[0:10] in ['/volmlist/','/volmdata/'] %} '#' {% else %} '/volmlist/' {% endif %};" class="nav-link {% if request.path[0:10] in ['/volmlist/','/volmdata/'] %} active {% endif %}" type="button">
                                    <i class="nav-icon fas fa-database"></i><p>Volumes</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a onclick="document.location.href={% if request.path[0:10] in ['/ntwklist/','/ntwkdata/'] %} '#' {% else %} '/ntwklist/' {% endif %};" class="nav-link {% if request.path[0:10] in ['/ntwklist/','/ntwkdata/'] %} active {% endif %}" type="button">
                                    <i class="nav-icon fas fa-network-wired"></i><p>Networks</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a onclick="document.location.href={% if request.path[0:10] in ['/mtrclist/','/mtrcdata/'] %} '#' {% else %} '/mtrclist/' {% endif %};" class="nav-link {% if request.path[0:10] in ['/mtrclist/','/mtrcdata/'] %} active {% endif %}" type="button">
                                    <i class="nav-icon fas fa-clipboard-list"></i><p>Metrics</p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>
            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                {% block headelem %}
                                {% endblock %}
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                	{% block bdcumbls %}
                                	{% endblock %}
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="content" id="contwrap" hidden>
                	{% block contwrap %}
                	{% endblock %}
                </section>
            </div>
            <footer class="main-footer">
                <div class="float-right d-none d-sm-inline">{{ frntvers }}</div>
                <strong onclick="window.open('https://hub.docker.com/r/t0xic0der/supervisor-frontend-service', '_blank')" type="button">SuperVisor</strong>
            </footer>
        </div>
        <div class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" id="abstcred">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header pt-1 pb-1 pl-2 pr-2 bg-olive">
                        <h3 class="modal-title condqant font-weight-bold">Credentials absent</h3>
                    </div>
                    <div class="modal-body pt-1 pb-1 pl-2 pr-2">
                        <p class="text-justify mt-0 mb-0">
                            The frontend service was unable to establish connection to the driver service as no
                            credentials were provided to make the check. Please check your inputs for Synchronization
                            URI and passcode, and attempt connecting again.
                        </p>
                    </div>
                    <div class="modal-footer pt-1 pb-1 pl-2 pr-2 bg-olive">
                        <button type="button" class="btn btn-sm {% if darkmode == 1 %} btn-dark {% else %} btn-light {% endif %}" onclick="document.location.href = '/svlogout/'">Return to login screen</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" id="connfail">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header pt-1 pb-1 pl-2 pr-2 bg-olive">
                        <h3 class="modal-title condqant font-weight-bold">Connection failed</h3>
                    </div>
                    <div class="modal-body pt-1 pb-1 pl-2 pr-2">
                        <p class="text-justify mt-0 mb-0">
                            The frontend service was unable to establish connection to the driver service using the
                            provided credentials. Please check your inputs for Synchronization URI and passcode, and
                            attempt connecting again.
                        </p>
                    </div>
                    <div class="modal-footer pt-1 pb-1 pl-2 pr-2 bg-olive">
                        <button type="button" class="btn btn-sm {% if darkmode == 1 %} btn-dark {% else %} btn-light {% endif %}" onclick="document.location.href = '/svlogout/'">Return to login screen</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" id="custmode">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header pt-1 pb-1 pl-2 pr-2 bg-olive">
                        <h3 class="modal-title condqant font-weight-bold">Personalization</h3>
                    </div>
                    <div class="modal-body pt-1 pb-1 pl-2 pr-2">
                        <p class="text-justify mt-0 mb-3">
                            Here is where you can tweak the look and feel of the frontend service to your liking, or
                            switch over to dark mode to reduce to glare received from your screen when working in a
                            poorly lit environment.
                        </p>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="info-box" onclick="enable_light_mode();" type="button">
                                    <span class="info-box-icon bg-olive"><i class="fas fa-sun"></i></span>
                                    <div class="info-box-content ellipsis">
                                        <span class="info-box-text">Illuminance</span>
                                        <span class="info-box-number h2 mt-0 mb-0 condqant font-weight-normal">Light mode</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="info-box" onclick="enable_dark_mode();" type="button">
                                    <span class="info-box-icon bg-olive"><i class="fas fa-moon"></i></span>
                                    <div class="info-box-content ellipsis">
                                        <span class="info-box-text">Illuminance</span>
                                        <span class="info-box-number h2 mt-0 mb-0 condqant font-weight-normal">Dark mode</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pt-1 pb-1 pl-2 pr-2 bg-olive">
                        <button type="button" class="btn btn-sm {% if darkmode == 1 %} btn-dark {% else %} btn-light {% endif %}" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" id="logoutmd">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header pt-1 pb-1 pl-2 pr-2 bg-olive">
                        <h3 class="modal-title condqant font-weight-bold">Confirm logout</h3>
                    </div>
                    <div class="modal-body pt-1 pb-1 pl-2 pr-2">
                        <p class="text-justify mt-0 mb-0">
                            All client-side session information would be purged off and you would be logged out of your
                            current session. Any unsaved changes would be unrecoverably lost. Are you sure you want to
                            log out now?
                        </p>
                    </div>
                    <div class="modal-footer justify-content-between pt-1 pb-1 pl-2 pr-2 bg-olive">
                        <button type="button" class="btn btn-sm {% if darkmode == 1 %} btn-dark {% else %} btn-light {% endif %}" data-dismiss="modal">Return</button>
                        <div class="float-right">
                            <button type="button" class="btn btn-sm {% if darkmode == 1 %} btn-dark {% else %} btn-light {% endif %}" onclick="document.location.href='/svlogout/';" data-dismiss="modal">Logout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block extramod %}
        {% endblock %}
        <script src="{{ url_for("static", filename="jscn/jquery.min.js") }}"></script>
        <script src="{{ url_for("static", filename="jscn/bootstrap.bundle.js") }}"></script>
        <script src="{{ url_for("static", filename="jscn/adminlte.js") }}"></script>
        <script src="{{ url_for("static", filename="jscn/globthem.js") }}"></script>
        {% block pagejsas %}
        {% endblock %}
    </body>
</html>
