<!--
##########################################################################
*
*   Copyright © 2019-2021 Akashdeep Dhar <t0xic0der@fedoraproject.org>
*
*   This program is free software: you can redistribute it and/or modify
*   it under the terms of the GNU General Public License as published by
*   the Free Software Foundation, either version 3 of the License, or
*   (at your option) any later version.
*
*   This program is distributed in the hope that it will be useful,
*   but WITHOUT ANY WARRANTY; without even the implied warranty of
*   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*   GNU General Public License for more details.
*
*   You should have received a copy of the GNU General Public License
*   along with this program.  If not, see <https://www.gnu.org/licenses/>.
*
##########################################################################
-->

{% extends "frameset.html" %}
{% block onldscpt %}
    container_logging_operations('{{ contiden }}');
{% endblock %}
{% block headelem %}
    <h1 class="m-0 condqant" id="contname">UNAVAILABLE</h1>
    <span class="badge bg-black h1 monotext" id="contstat">UNAVAILABLE</span>
{% endblock %}
{% block bdcumbls %}
    <li class="breadcrumb-item" onclick="document.location.href='/contlist/'" type="button">Containers</li>
    <li class="breadcrumb-item" onclick="document.location.href='/contdata/{{ contiden }}'" type="button">{{ contiden[0:10] }}</li>
    <li class="breadcrumb-item active">Logs</li>
{% endblock %}
{% block contwrap %}
    <div class="callout callout-success {% if darkmode == 1 %} bg-dark {% else %} bg-light {% endif %}" id="mtrcwarn">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" onclick="document.getElementById('mtrcwarn').remove();">×</button>
        <h5 class="text-bold">
            Is the theming messed up here?
        </h5>
        <p class="text-justify">
            The log output is supposed to have a white background even when dark theme is employed as the logs make use 
            of <a type="button" class="text-olive" onclick="document.location.href = 'https://github.com/drudru/ansi_up'">ANSI-UP</a> 
            JavaScript library to render all ANSI sequences like they are shown in the terminal but we are yet to find 
            how they can be overridden to accommodate custom CSS additions to them. Please feel free to contribute to the 
            project in 
            <a type="button" class="button text-olive" onclick="document.location.href = 'https://github.com/t0xic0der/supervisor-frontend-service/issues/73'">this issue</a>
            if you seem to have an idea of how it can be implemented.
        </p>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header bg-olive pl-2">
                    <h3 class="card-title font-weight-bold">Logs</h3>
                </div>
                <div class="card-body p-0 bg-white">
                    <pre class="monotext" id="logsarea"></pre>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extramod %}
    <div class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" id="contntfd">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header pt-1 pb-1 pl-2 pr-2 bg-olive">
                    <h3 class="modal-title condqant font-weight-bold">Container absent</h3>
                </div>
                <div class="modal-body pt-1 pb-1 pl-2 pr-2">
                    <p class="text-justify mt-0 mb-0">
                        The container identity provided does not match any from the list of existing containers on
                        the station and hence, the information pertaining to that container could not be displayed.
                        Please check your inputs for container identity and attempt again.
                    </p>
                </div>
                <div class="modal-footer pt-1 pb-1 pl-2 pr-2 bg-olive">
                    <button type="button" class="btn btn-sm text-olive {% if darkmode == 1 %} btn-dark {% else %} btn-light {% endif %}" onclick="document.location.href = '/contlist/'">Return to containers listing</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block pagejsas %}
    <script src="{{ url_for("static", filename="jscn/contlogs.js") }}"></script>
    <script src="{{ url_for("static", filename="jscn/ansiconv.js") }}"></script>
{% endblock %}
